/* Style the search field */
form.search-bar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
  margin-top: 100px;
  margin-left: 20px;
}
/* Style the submit button */
form.search-bar button {
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-top: 100px;
}
form.search-bar button:hover {
  background: #0b7dda;
}
/* Clear floats */
form.search-bar::after {
  content: "";
  clear: both;
  display: table;
}
/* End Search Stylization */

/* Copy/Pasted from template.html for refactoring purposes */
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('main_lot.jpg');
  min-height: 100%;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("parking_alt.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.map{
  padding-left: 100px;
  padding-right: 100px;
}

/* MapId is the map itself */
#mapid { height: 600px;
  margin-left: 30px;
  margin-right: 30px;}

#mapdiv { height: 50px;
          text-align: center;}
